---
    import { cva } from "../../../styled-system/css";

	const IndexLayoutStyles = cva({
		base: {
			width: "100%",
			height: "100%",
			'& body':{
				minHeight: '100%',
				minWidth: '100%',
				bg: '#070712',
				display: 'flex',
				alignItems: 'center',
				justifyContent: 'center',
			}
		}
	})
---

<html lang="en" class={IndexLayoutStyles({})}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/03_FEM_socialLinksProfile/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

		<slot />
        
	</body>
</html>